<div ng-include="'components/navbar/navbar.html'"></div>

  <header id="header" class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row header-box">
            <div class="col-md-8 intro-message box animated fadeIn delay2">
              <h1 class="margin-20">Occupancy Sensing Cameras</h1>
              <p class="intro-message-statement">Maximize your bottom line with smart enforcement routing, demand-based pricing, and remote lot monitoring.
              </p>
              
              <div class="col-md-10 col-md-offset-1 text-center animated fadeIn delay2 margin-20">
                <a id="button-blue" class="btn-blue-animate btn-text-transparent" href="#contact-form">Contact Us</a>
              </div>
            </div>
            <div class="col-md-4 hidden-xs text-center">
              <div class="iphone-container animated fadeInDown">
                <img src="assets/images/iphone.png" class="img-responsive" alt="...">
                <div class="iphone-screen">
                  <div id="screen-slider" class="carousel slide absolute" data-ride="carousel">
                    <div class="carousel-inner absolute">
                      <div class="item active absolute">
                        <img src="assets/images/map-screen.png" alt="...">
                      </div>
                      <div class="item absolute">
                        <img src="assets/images/slider-comments.png" alt="...">
                      </div>
                    </div>
                  </div>
                </div> <!-- / screen slider -->
              </div> <!-- / iphone container -->
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /.container -->
  </header> <!-- /.intro-header -->

  <!-- Services Section -->
  <section id="services" class="services">
    <div class="container">
      <div class="row">  
        <h3 class="services-headline">Benefits</h3>
        <div class="col-md-3">
          <div class="services-box">
            <div class="icon">
              <span class="fa fa-gear fa-5x"></span>
            </div>
            <h3>Reduce Operational Costs</h3>
            <p class="services-box-statement">Cover the same number of lots with fewer ticket officers.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="services-box">
            <div class="icon">
              <span class="fa fa-ticket fa-5x"></span>
            </div>
            <h3>Increase Ticket Revenue</h3>
            <p class="services-box-statement">Maximize income opportunities by checking lots at key times.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="services-box">
            <div class="icon">
              <span class="fa fa-usd fa-5x"></span>
            </div>
            <h3 class="services-box-header">Optimize Pricing</h3>
            <p class="services-box-statement push-down">Use accurate turnover information to learn which lots are losing parkers due to high prices.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="services-box">
            <div class="icon">
              <span class="fa fa-desktop fa-5x"></span>
            </div>
            <h3 class="services-box-header">Monitor Lots Remotely</h3>
            <p class="services-box-statement">Get a visual on your lots from a centralized location.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <a class="benefits-button btn-blue-animate btn-text-transparent" href="/benefits">More Information</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

<!--

  <section id="quote" class="quote">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p class="text-center blue"><span class="fa fa-quote-left"></span>&nbsp;SpotWise is the dopest thing I've ever seen!&nbsp;<span class="fa fa-quote-right"></span></p>
        </div>
      </div>
    </div>
  </section>

-->

<!--
  <div class="container-fluid margin-40">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <hr class="the-margin">
      </div>
    </div>
  </div>

-->
<!--
  <section id="faq" class="faq">
    <div class="container">
      <div class="row">
        
      </div>
    </div>
  </section>

-->
  <section id="sponsors" class="sponsors">
    <div class="container-fluid">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12 header-sub">
            <h2 class="text-center blue margin-40">Our Sponsors and Partners</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="">
              <li class="col-md-2"><img class="img-responsive" src="../images/logos-maponics.png"/></li>
              <li class="col-md-2"><img class="img-responsive" src="../images/logos-coral_gables_coc.png"/></li>
              <li class="col-md-2"><img class="img-responsive" src="../images/logos-spotcrime.png"/></li>
              <li class="col-md-2"><img class="img-responsive" src="../images/logos-us_census.png"/></li>
              <li class="col-md-2"><img class="img-responsive" src="../images/logos-apa.png"/></li>
              <li class="col-md-2"><img class="img-responsive" src="../images/logos-urban_land_institute.png"/></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- How it Works Section -->
  <section id="how-it-works" class="how-it-works">
    <div class="container">
      <div class="row">  
        <h3 class="how-it-works-headline">How It Works</h3>
        <div class="col-md-1 how-it-works-first-bubble">
          <div class="how-it-works-icon">
            <span class="icon-inner">1</span>
          </div>
          <p class="how-it-works-description">Cameras monitor lot</p>
        </div>
        <div class="col-md-1 division-bar">
          
        </div>
        <div class="col-md-1">
          <div class="how-it-works-icon">
            <span class="icon-inner">2</span>
          </div>
          <p class="how-it-works-description">Images to cloud</p>
        </div>
        <div class="col-md-1 division-bar">
          
        </div>
        <div class="col-md-1">
          <div class="how-it-works-icon">
            <span class="icon-inner">3</span>
          </div>
          <p class="how-it-works-description">Automatic image analysis</p>
        </div>
        <div class="col-md-1 division-bar">
          
        </div>
        <div class="col-md-1">
          <div class="how-it-works-icon">
            <span class="icon-inner">4</span>
          </div>
          <p class="how-it-works-description">Reference billing data</p>
        </div>
        <div class="col-md-1 division-bar">
          
        </div>
        <div class="col-md-1">
          <div class="how-it-works-icon">
            <span class="icon-inner">5</span>
          </div>
          <p class="how-it-works-description">Info to mobile app</p>
        </div>
        <div class="col-md-1 division-bar">
          
        </div>
        <div class="col-md-1">
          <div class="how-it-works-icon">
            <span class="icon-inner">6</span>
          </div>
          <p class="how-it-works-description">Officer to lot</p>
        </div>
      </div>
      <div class="row how-it-works-images">
        <div class="col-md-5 cars-original-section">
          <img src="assets/images/lot_cars_original.png" class="img-responsive lot-cars-original">
        </div>
        <div class="col-md-5">
          <img src="assets/images/lot_cars_identified.png" class="img-responsive lot-cars-identified">
        </div>
      </div>
      <div class="row button-section">
        <div class="col-md-10 col-md-offset-1">
          <a class="how-it-works-button btn-blue-animate btn-text-transparent" href="/faq">More on Technology</a>
        </div>
      </div>
    </div>
  </section>
  

  <!-- Contact Section -->
  <section id="contact-form" class="contact-form">
    <div class="container">
      <div class="row margin-top-buffer">
        <div class="col-md-8">
          <form id="form" role="form" ng-controller="MessageCtrl">
            <div class="form-group">
              <input type="text" name="name" ng-model="newMessage.fullname" class="form-control" id="exampleInputName" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="email" name="email" ng-model="newMessage.email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <textarea type="password" name="message" ng-model="newMessage.message" class="form-control" id="exampleInputMessage" placeholder="Message"></textarea>
            </div>
            <div class="col-md-3 contact-button-section">
              <button type="submit" id="button-white" class="btn-white-animate btn-text-white btn-block" ng-click="addMessage()">Submit</button>
            </div>
          </form>
        </div>
        <div class="col-md-2 jumpstart-logo-section">
          <img src="assets/images/jsf_logo.png" class="jsf-logo img-responsive">
          <img src="assets/images/jsf_text.png" class="jsf-text img-responsive">
        </div>
        <div class="col-md-2 contact-details">
          <h2 class="text-center white margin-20">Inquire</h2>
          <ul class="">
            <li><p class="text-center white"><span class="fa fa-envelope fa-1x"></span> &nbsp; info@spotwise.co</p></li>
            <li><p class="text-center white"><span class="fa fa-phone fa-1x"></span> &nbsp; 1 (813) 716-7850</p></li>
            <li><p class="text-center white"><span class="fa fa-map-marker fa-1x"></span> &nbsp; 41 Peabody Street,<br>Nashville, TN</p></li>
          </ul>
          <div class="social-button-section">
            <span><a href="https://www.facebook.com/getspotwise"><i class="fa fa-facebook-square"></i></span></a>
            <span><a href="https://twitter.com/getspotwise"><i class="fa fa-twitter-square"></i></span></a>
        </div>
        </div>
      </div>
    </div> <!-- /.container -->
  </section> <!-- /.intro-header -->
  <!-- /Contact Section -->

<footer class="footer">
  <div class="container">
      <p class="spotwise-copyright">Spotwise &copy; 2014</p>
  </div>
</footer>
